.project {
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  background-color: antiquewhite;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.product-img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.my0 {
  margin-top: 0em;
  margin-bottom: 0em;
}

.my1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mx1 {
  margin-left: 1em;
  margin-right: 1em;
}

.my2 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.mt1 {
  margin-top: 10px;
}

.mr1 {
  margin-right: 10px;
}

/* INPUT FIELDS */
input,
textarea,
select {
  background-color: white;
  box-sizing: border-box;
  border-radius: 0.5em;
  border: 1px solid lightgray;
  padding: 8px 12px;
  margin-right: 5px;
  margin-top: 5px;
  min-width: 15em;
}

/* BUTTON */
button {
  border-radius: 0.5em;
  font-size: 14px;
  padding: 6px 12px;
  margin-right: 5px;
  cursor: pointer;
  background-color: white;
  border: 1px solid lightgray;
  border: none;
}

button:hover,
button:active {
  background-color: rgb(241, 241, 241);
  border: 1.5px solid lightgray;
}
